---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <section class="p-10">
            <h1>My astro site</h1>
            <p>This is where I wil post about my journey learning astro</p>
        </section>
    </main>
</Layout>