<div class="px-16 py-8 flex items-center justify-between bg-black/10">
    <h1 class="text-2xl font-bold italic">
        <a href="/">
            MyBlog
        </a>
    </h1>
    <nav>
        <ul class="flex items-center gap-x-16 text-lg font-normal">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
        </ul>
    </nav>
</div>